In [1]:
print("hello")

hello

In [1]:
print("hello")

hello

In [1]:
#declearing variables 
a=10
b=50264.5

In [4]:
#Assigning single value to multiple variables
x=y=z=10
print("x =",x)
print("y=",y)
print("z=",z)

x = 10
y= 10
z= 10

In [5]:
#Assigning multiple values to multiple variables:
a,b,c=10,20,30
print(a)
print(b)
print(c)

10
20
30

In [9]:
#Python Data Types
a=10
b="hello"
c=123.10
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
#Standard data types
# 1.Numbers
# 2.String
# 3.List
# 4.Tuple
# 5.Dictionary

In [11]:
#Numbers
a= 3 
b = 5

In [27]:
# String 
s1="Heyy Priti !!!"
s2='FUCK WHAT PEOPLE THINK JUST ENJOY YOUR LIFE.'

#SLICING
print(s1[0:4])
print(s1[1:4])

#to know the length of a string
print(len(s1))

#FOR PRINTING A PARTICULAR CHARACTER
print(s1[5])

#printing the string twice
print(s1*2)

#printing the concatenation of str1 and str2
print(s1+s2)
print(s1 +" "+ s2)

Heyy
eyy
14
P
Heyy Priti !!!Heyy Priti !!!
Heyy Priti !!!FUCK WHAT PEOPLE THINK JUST ENJOY YOUR LIFE.
Heyy Priti !!! FUCK WHAT PEOPLE THINK JUST ENJOY YOUR LIFE.

In [50]:
#LIST 
l = [1, "hi", "python", 2]
print (l[3:]) #PRINTS A PARTICULAR ELEMENT
print (l[0:2]) #kind of slicing
print (l) #printing the entire list
print (l + l) #concatination
print (l * 3) # multiplicating the list

# tring to add extra element in list 
#YOU CAN MODIFY LIST BUT CANT ADD EXTRA 
l[2]="lol"
print(l)

#List concatination
l2=['Strawberry','and','cigarettes']
l3=['always','taste','like you']
print(l2+l3)

[2]
[1, 'hi']
[1, 'hi', 'python', 2]
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2]
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2, 1, 'hi', 'python', 2]
[1, 'hi', 'lol', 2]
['Strawberry', 'and', 'cigarettes', 'always', 'taste', 'like you']

In [42]:
#TUPLE
t = ("hi", "python", 2)
print(t)
print(t[0:2])
print(t[0:1])
print(t[::-1]) #reverse order 
print (t + t)
print (t * 3)
print (type(t))

('hi', 'python', 2)
('hi', 'python')
('hi',)
(2, 'python', 'hi')
('hi', 'python', 2, 'hi', 'python', 2)
('hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2)
<class 'tuple'>

In [44]:
#Dictionary
d = {1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'};
print("1st name is "+d[1]);
print("2nd name is "+ d[4]);
print (d);
print (d.keys());
print (d.values());

1st name is Jimmy
2nd name is mike
{1: 'Jimmy', 2: 'Alex', 3: 'john', 4: 'mike'}
dict_keys([1, 2, 3, 4])
dict_values(['Jimmy', 'Alex', 'john', 'mike'])

In [47]:
#Multiline Strings
#Adding black slash at the end of each line.
a="hello \
world"
print(a)

#Using triple quotation marks:
b='''STRAWBERRY
AND
CIGARETTES'''
print(b)

hello world
STRAWBERRY
AND
CIGARETTES

In [49]:
#Special literals
val1 = 10
val2 = None
print(val1)
print(val2)

10
None

In [55]:
# floor division is basically it gives you the question part till its divisible not the remenaider 
a=11
b=2
c=3
print(a//b)
print(a//c)

5
3

In [4]:
# Program to check whether a person is eligible to vote or not
age = int(input("enter the age"))
if(age >=18):
    print("Elligible to vote")
else:
    print("not Elligible")

Elligible to vote

In [5]:
#Program to check whether a number is even or not
number = int(input("Enter the number "))
if (number%2==0):
    print("even")
else:
    print('odd')

odd

In [9]:
#Grading problem
marks = int(input("enter the marks "))
if(marks >100):
    print('enter marks within 100')
else:
    if(marks > 85 and marks <=100):
        print('A')
    elif(marks >60 and marks <=85):
        print('B')
    elif(marks >40 and marks <=60):
        print('C')
    else:
        print('Fail....')

B

In [12]:
#printing the table of the given number
n=int(input("enter the number"))
for i in range(1,11):
    print(n, '*', i ,'=',n*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [23]:
# Print the pattern
# * 
# ** 
# *** 
# **** 
# *****

rows = int(input("no of rows"))
for i in range(0,rows):
    print()
    for j in range(0,i+1):
        print('*',end="")

*
**
***
****
*****

In [24]:
#break with for loop 
for i in range(0,5):
    print(i)
else:
    print("for loop completely exhausted, since there is no break.")

0
1
2
3
4
for loop completely exhausted, since there is no break.

In [25]:
# another example of break with loop 
for i in range(0,5):
    print(i)
    break
else:
    print("for loop is exhausted");
print("The loop is broken due to break statement...came out of loop")

0
The loop is broken due to break statement...came out of loop